.header {
    padding: 0.75rem 2rem;
    align-items: center;
    display: flex;
    justify-content:space-between;
    position: fixed;
    overflow: hidden;
    top: 0;
    width: 100%;
    z-index: 1000;
    background-color: #333;
}

.headerLeft, .headerRight {
    display: flex;
    align-items: center;

}

a > span{
    margin: 0 30px;
    font-size: 1.3rem;
    cursor: pointer;
    color: white;
}

a > span:hover {
    color: red;
}

.header__icon {
    width: 80px;
    cursor: pointer;
}

.user__avatar {
    font-size: 2rem;
}

